@import url(https://fonts.bunny.net/css?family=aldrich:400);

@import url(https://fonts.bunny.net/css?family=albert-sans:300|aldrich:400);

* {
	margin: 0;
}

a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}

.img-credit {
	position: absolute;
	bottom: 10px;
	left: 30%;
	font-family: "Albert Sans", sans-serif;
	font-size: 12px;
}

.container {
	display: flex;
}
.left-section {
	position: relative;
	display: inline-block;
	color: #ffffff;
}
.left-section img {
	display: block;
	max-width: 100%;
	height: auto;
}
.odin-logo {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	padding: 10px 20px;
	text-align: center;
	backdrop-filter: blur(5px);
}

.odin-text {
	margin: 25px;
	font-family: "Aldrich", sans-serif;
	font-size: 45px;
	text-align: center;
}

.right-section {
    background-color: #f5f5f5;
	font-family: "Albert Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	/* margin: 70px; */
}

.sign-up-form {
    background-color: #f6f6f6;
	position: absolute;
	top: 30%;
    width: 100%;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.form-row {
	font-size: 12px;
	padding: 10px;
}

